#
# Clangd configuration for Linux. Based on my Linux username are "loq".  The default ESP-IDF v5.5.1 uses clangd-18.
# Documentation: https://clangd.llvm.org/config
#

InlayHints:
    ParameterNames: false

Documentation:
    CommentFormat: Doxygen

Hover:
    ShowAKA: false

CompileFlags:
    CompilationDatabase: build/

    Add:
        # REPLACE THIS "loq" with your actual OS username
        - -isystem
        - "/home/loq/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf/include"

        - -isystem
        - "/home/loq/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0"

        - -isystem
        - "/home/loq/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0/xtensa-esp-elf"

        # Use CXX ISO Standard
        # - -std=c++17

    # Recommended: Remove GCC-specific flags that clangd doesn't recognize
    Remove: [-m*, -f*]
